*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "arial", sans-serif;
}

.background{
    width: 100%;
    min-height: 100vh;
    background-image: url(Website-Background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
}

.header{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #171747;
    h1{
        font-family: arial, sans-serif, 'Times New Roman', Times, serif;
        font-size: 40px;
        font-style: italic;
        font-style: bold;
        text-align: center;
        color: #ffffff;
    }
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
/*Slideshow Frame Start*/
.slider-frame{
    width: 1024px;
    height: 576px;
    margin-top: 100px;
    margin-left: 650px;
    border-radius: 10px;
    overflow: hidden;
}
/*Slideshow Frame End*/

/*Slideshow Images Start*/
div{
    .slider-images{
    width: 500%;
    height: 500px;
    display: flex;
    }
    .slider-images input{
    display: none;
    }
    .slider-image{
    width: 20%;
    transition: 1s;
    }
    .slider-image img{
    width: 1024px;
    height: 576px;
    }
}
/*Slideshow Images End*/

/*Auto navigation Start*/
.Navigation-auto{
    position: absolute;
    width: 1024px;
    height: 180px;
    margin-top: 600px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;
}
.Auto-btn-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 13px;
    grid-area: 1 / 1;

    img {
    width: 80px;
    height: 80px;
        }
    cursor: pointer;
}
.Auto-btn-img-Dark{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 13px;
    grid-area: 1 / 1;
    z-index: 10;

    img {
    width: 80px;
    height: 80px;
        }
    cursor: pointer;
}
div{
    #radio1:checked ~ .Navigation-auto .auto-btn1{
        #Animation-Btn-Dark{
            opacity: 0%;
            transition: 0.5s;
        }
    }
    #radio2:checked ~ .Navigation-auto .auto-btn2{
        #Music-Btn-Dark{
            opacity: 0%;
            transition: 0.5s;
        }
    }
    #radio3:checked ~ .Navigation-auto .auto-btn3{
        #Live-btn-Dark{
            opacity: 0%;
            transition: 0.5s;
        }
    }
    #radio4:checked ~ .Navigation-auto .auto-btn4{
        #Clips-btn-Dark{
            opacity: 0%;
            transition: 0.5s;
        }
    }
    #radio5:checked ~ .Navigation-auto .auto-btn5{
        #WEBTOON-btn-Dark{
            opacity: 0%;
            transition: 0.5s;
        }
    }
    #radio6:checked ~ .Navigation-auto .auto-btn6{
        #Twitch-btn-Dark{
            opacity: 0%;
            transition: 0.5s;
        }
    }
    #radio7:checked ~ .Navigation-auto .auto-btn7{
        #Twitter-btn-Dark{
            opacity: 0%;
            transition: 0.5s;
        }
    }
    #radio8:checked ~ .Navigation-auto .auto-btn8{
        #Discord-btn-Dark{
            opacity: 0%;
            transition: 0.5s;
        }
    }
    #radio9:checked ~ .Navigation-auto .auto-btn9{
        #Patreon-btn-Dark{
            opacity: 0%;
            transition: 0.5s;
        }
    }
    #radio10:checked ~ .Navigation-auto .auto-btn10{
        #Ko-fi-btn-Dark{
            opacity: 0%;
            transition: 0.5s;
        }
    }
    #radio11:checked ~ .Navigation-auto .auto-btn11{
        #TikTok-btn-Dark{
            opacity: 0%;
            transition: 0.5s;
        }
    }
    #radio12:checked ~ .Navigation-auto .auto-btn12{
        #Instagram-btn-Dark{
            opacity: 0%;
            transition: 0.5s;
        }
    }
    #radio13:checked ~ .Navigation-auto .auto-btn13{
        #Reddit-btn-Dark{
            opacity: 0%;
            transition: 0.5s;
        }
    }
    #radio14:checked ~ .Navigation-auto .auto-btn14{
        #Pinterest-btn-Dark{
            opacity: 0%;
            transition: 0.5s;
        }
    }
    #radio15:checked ~ .Navigation-auto .auto-btn15{
        #Newgrounds-btn-Dark{
            opacity: 0%;
            transition: 0.5s;
        }
    }
    #radio16:checked ~ .Navigation-auto .auto-btn16{
        #Cara-btn-Dark{
            opacity: 0%;
            transition: 0.5s;
        }
    }
    #radio17:checked ~ .Navigation-auto .auto-btn17{
        #Facebook-btn-Dark{
            opacity: 0%;
            transition: 0.5s;
        }
    }
    }
/*Auto navigation End*/

/*manual navigation Start*/
.Navigation-Manual{
    position: absolute;
    width: 1024px;
    height: 180px;
    margin-top: 82px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    z-index: 100;
    overflow: hidden;
}
.Manual-btn-img{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 24px;
        row-gap: 13px;

        img {
        width: 80px;
        height: 80px;
            }
        cursor: pointer;
}
div{
    .Manual-btn1{
        opacity: 0%;
    }
    .Manual-btn2{
        opacity: 0% ;
    }
    .Manual-btn3{
        opacity: 0% ;
    }
    .Manual-btn4{
        opacity: 0% ;
    }
    .Manual-btn5{
        opacity: 0% ;
    }
    .Manual-btn6{
        opacity: 0% ;
    }
    .Manual-btn7{
        opacity: 0% ;
    }
    .Manual-btn8{
        opacity: 0% ;
    }
    .Manual-btn9{
        opacity: 0% ;
    }
    .Manual-btn10{
        opacity: 0% ;
    }
    .Manual-btn11{
        opacity: 0% ;
    }
    .Manual-btn12{
        opacity: 0% ;
    }
    .Manual-btn13{
        opacity: 0% ;
    }
    .Manual-btn14{
        opacity: 0% ;
    }
    .Manual-btn15{
        opacity: 0% ;
    }
    .Manual-btn16{
        opacity: 0% ;
    }
    .Manual-btn17{
        opacity: 0% ;
    }
}
div{
    .Manual-btn1:hover{
        opacity: 100%;
        transition: 0.5s;
    }
    .Manual-btn2:hover{
        opacity: 100% ;
        transition: 0.5s;
    }
    .Manual-btn3:hover{
        opacity: 100% ;
        transition: 0.5s;
    }
    .Manual-btn4:hover{
        opacity: 100% ;
        transition: 0.5s;
    }
    .Manual-btn5:hover{
        opacity: 100% ;
        transition: 0.5s;
    }
    .Manual-btn6:hover{
        opacity: 100% ;
        transition: 0.5s;
    }
    .Manual-btn7:hover{
        opacity: 100% ;
        transition: 0.5s;
    }
    .Manual-btn8:hover{
        opacity: 100% ;
        transition: 0.5s;
    }
    .Manual-btn9:hover{
        opacity: 100% ;
        transition: 0.5s;
    }
    .Manual-btn10:hover{
        opacity: 100% ;
        transition: 0.5s;
    }
    .Manual-btn11:hover{
        opacity: 100% ;
        transition: 0.5s;
    }
    .Manual-btn12:hover{
        opacity: 100% ;
        transition: 0.5s;
    }
    .Manual-btn13:hover{
        opacity: 100% ;
        transition: 0.5s;
    }
    .Manual-btn14:hover{
        opacity: 100% ;
        transition: 0.5s;
    }
    .Manual-btn15:hover{
        opacity: 100% ;
        transition: 0.5s;
    }
    .Manual-btn16:hover{
        opacity: 100% ;
        transition: 0.5s;
    }
    .Manual-btn17:hover{
        opacity: 100% ;
        transition: 0.5s;
    }
}
div{
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
#radio5:checked ~ .first{
    margin-left: -80%;
}
#radio6:checked ~ .first{
    margin-left: -100%;
}
#radio7:checked ~ .first{
    margin-left: -120%;
}
#radio8:checked ~ .first{
    margin-left: -140%;
}
#radio9:checked ~ .first{
    margin-left: -160%;
}
#radio10:checked ~ .first{
    margin-left: -180%;
}
#radio11:checked ~ .first{
    margin-left: -200%;
}
#radio12:checked ~ .first{
    margin-left: -220%;
}
#radio13:checked ~ .first{
    margin-left: -240%;
}
#radio14:checked ~ .first{
    margin-left: -260%;
}
#radio15:checked ~ .first{
    margin-left: -280%;
}
#radio16:checked ~ .first{
    margin-left: -300%;
}
#radio17:checked ~ .first{
    margin-left: -320%;
}

}
/*manual navigation End*/
p1{
    position: absolute;
    position: fixed;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    background-color: #171747;
    color: #ffffff;
    border-style: solid;
    border-width: 6px;
    border-color: #ff9b00;
    border-radius: 10px;
    padding: 10px;
    align-self: center;
    margin-top: 80px;
    margin-left: -160px;
    font-style: italic;
    font-style: bold;
    overflow: hidden;
    width: 750px;
    overflow: hidden;
}
.intro{
    position: absolute;
    position: fixed;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #171747;
    color: #ffffff;
    border-style: solid;
    border-width: 6px;
    border-color: #ff9b00;
    border-radius: 10px;
    padding: 10px;
    align-self: center;
    margin-top: -260px;
    margin-left: -160px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
    width: 750px;
}
h2{
    font-size: 40px;
    overflow: hidden;
}
p2{
    font-size: 20px;
    font-style: italic;
    overflow: hidden;
}
h3{
    font-size: 30px;
    overflow: hidden;
}
.Profile-Banner{
    width: 750px;
    position: absolute;
    position: fixed;
    margin-top: -580px;
    margin-left: -160px;
    border-style: solid;
    border-width: 6px;
    border-color: #ff9b00;
    border-radius: 10px;
    border-image-repeat: no-repeat;
    z-index: 1;
    overflow: hidden;
}
.slider-btn{
    border: none;
    align-self: center;
    height: 576px;
    width: 100px;
    text-align: center;
    text-size-adjust: 100px 300px;
    font-size: 100px;
    position: fixed;
    outline: none;
    background: #000;
    color: #ffffff;
    cursor: pointer;
    margin: 10px auto;
    margin-bottom: -65px;
    margin-left: 924px;
    z-index: 500;
    opacity: 20%;
    transition: 0.5s;
}
#prev{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#next{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.slider-btn:hover{
    opacity: 50%;
}
.slider-btn:not(:last-child){
    margin-left: -0px;
}
@media (max-width: 1850px){
    .slider-frame{
        margin-left: 580px;
    }
    .Profile-Banner{
        width: 680px;
    }
    .intro{
        margin-top: -290px;
        width: 680px;
    }
    p1{
        margin-top: 50px;
        width: 680px;
    }
}
@media (max-width: 1800px){
    .slider-frame{
        width: 960px;
        height: 540px;
        margin-left: 550px;
    }
    .slider-images{
        .slider-image img{
            width: 960px;
            height: 540px;
        }
    }
    .slider-btn{
        height: 540px;
        width: 100px;
        margin-bottom: -30px;
        margin-left: 860px;
    }
    .Navigation-auto{
        width: 960px;
        margin-top: 550px;
        .Auto-btn-img{
            column-gap: 20px;
            row-gap: 10px;
            img {
                width: 75px;
                height: 75px;
                    }
        }
        .Auto-btn-img-Dark{
            column-gap: 20px;
            row-gap: 10px;
            img {
                width: 75px;
                height: 75px;
                    }
        }
    }
    .Navigation-Manual{
        width: 960px;
        margin-top: 32px;
        .Manual-btn-img{
            column-gap: 20px;
            row-gap: 10px;
            img {
            width: 75px;
            height: 75px;
                }
        }
    }
    .Profile-Banner{
        width: 650px;
        margin-top: -540px;
    } 
    .intro{
        margin-top: -270px;
        width: 650px;
    }
    p1{
        margin-top: 70px;
        width: 650px;
    }
}
@media (max-width: 1700px){
    .slider-frame{
        margin-left: 500px;
    }
    .Profile-Banner{
        width: 580px;
        margin-top: -540px;
    } 
    .intro{
        margin-top: -290px;
        width: 580px;
    }
    p1{
        margin-top: 40px;
        width: 580px;
    }
}
@media (max-width: 1650px){
    .slider-frame{
        width: 854px;
        height: 480px;
        margin-left: 550px;
    }
    .slider-images{
        .slider-image img{
            width: 854px;
            height: 480px;
        }
    }
    .slider-btn{
        height: 480px;
        width: 100px;
        margin-bottom: 30px;
        margin-left: 754px;
    }
    .Navigation-auto{
        width: 854px;
        margin-top: 500px;
        .Auto-btn-img{
            column-gap: 16px;
            row-gap: 8px;
            img {
                width: 70px;
                height: 70px;
                    }
        }
        .Auto-btn-img-Dark{
            column-gap: 16px;
            row-gap: 8px;
            img {
                width: 70px;
                height: 70px;
                    }
        }
    }
    .Navigation-Manual{
        width: 854px;
        margin-top: -18px;
        .Manual-btn-img{
            column-gap: 16px;
            row-gap: 8px;
            img {
            width: 70px;
            height: 70px;
                }
        }
    }
    .Profile-Banner{
        width: 650px;
        margin-left: -150px;
        margin-top: -500px;
    }
    .intro{
        margin-top: -240px;
        margin-left: -150px;
        width: 650px;
    }
    p1{
        margin-top: 100px;
        margin-left: -150px;
        width: 650px;
    }
}
@media (max-width: 1550px){
    .slider-frame{
        width: 640px;
        height: 360px;
        margin-left: 700px;
        margin-top: 80px;
    }
    .slider-images{
        .slider-image img{
            width: 640px;
            height: 360px;
        }
    }
    .slider-btn{
        height: 360px;
        width: 100px;
        margin-bottom: 150px;
        margin-left: 540px;
    }
    .Navigation-auto{
        width: 640px;
        margin-top: 380px;
        height: 130px;
        .Auto-btn-img{
            column-gap: 12px;
            row-gap: 6px;
            img {
                width: 50px;
                height: 50px;
                    }
        }
        .Auto-btn-img-Dark{
            column-gap: 12px;
            row-gap: 6px;
            img {
                width: 50px;
                height: 50px;
                    }
        }
    }
    .Navigation-Manual{
        width: 640px;
        margin-top: -138px;
        height: 130px;
        .Manual-btn-img{
            column-gap: 12px;
            row-gap: 6px;
            img {
            width: 50px;
            height: 50px;
                }
        }
    }
    .Profile-Banner{
        width: 800px;
        margin-left: -130px;
        margin-top: -360px;
    }
    .intro{
        margin-top: -50px;
        margin-left: -130px;
        width: 800px;
    }
    p1{
        margin-top: 150px;
        margin-left: 700px;
        width: 650px;
    }
}
@media (max-width: 1450px){
    .slider-frame{
        margin-left: 600px;
    }
    .Profile-Banner{
        width: 700px;
        margin-top: -360px;
    }
    .intro{
        margin-top: -80px;
        width: 700px;
    }
    p1{
        margin-left: 600px;
        width: 650px;
    }
}
@media (max-width: 1350px){
    .slider-frame{
        margin-left: 500px;
    }
    .Profile-Banner{
        width: 600px;
        margin-top: -360px;
    }
    .intro{
        margin-top: -100px;
        width: 600px;
    }
    p1{
        margin-left: 500px;
        width: 650px;
    }
}
@media (max-width: 1250px){
    .slider-frame{
        margin-left: 400px;
    }
    .Profile-Banner{
        width: 500px;
        margin-top: -360px;
    }
    .intro{
        margin-top: -140px;
        width: 500px;
    }
    p1{
        margin-left: 400px;
        width: 650px;
    }
}
@media (max-width: 1170px) {
    .slider-frame{
        margin-left: 350px;
    }
    p1{
        margin-left: 350px;
    }
    .intro{
        width: 450px;
        margin-top: -170px;
        margin-left: -105px;
    }
    .Profile-Banner{
        width: 450px;
        margin-left: -105px;
    }
    h2{
        font-size: 38px;
    }
    p2{
        font-size: 18px;
        font-style: italic;
    }
    h3{
        font-size: 28px;
    }
}
@media (max-width: 1110px) {
    .slider-frame{
        margin-left: 300px;
    }
    p1{
        margin-left: 300px;
    }
    .intro{
        width: 380px;
        margin-top: -200px;
        margin-left: -100px;
    }
    .Profile-Banner{
        width: 380px;
        margin-left: -100px;
    }
    h2{
        font-size: 35px;
    }
    p2{
        font-size: 15px;
        font-style: italic;
    }
    h3{
        font-size: 25px;
    }
}
@media (max-width: 1050px) {
    .slider-frame{
        margin-left: 250px;
    }
    p1{
        margin-left: 250px;
    }
    .intro{
        width: 330px;
        margin-top: -220px;
        margin-left: -95px;
    }
    .Profile-Banner{
        width: 330px;
        margin-left: -95px;
    }
    h2{
        font-size: 33px;
    }
    p2{
        font-size: 13px;
        font-style: italic;
    }
    h3{
        font-size: 23px;
    }
}
@media (max-width: 1000px) {
    .slider-frame{
        margin-left: 200px;
    }
    p1{
        margin-left: 200px;

    }
    .intro{
        width: 260px;
        margin-top: -250px;
        margin-left: -90px;
    }
    .Profile-Banner{
        width: 260px;
        margin-left: -90px;
    }
    h2{
        font-size: 30px;
    }
    p2{
        font-size: 10px;
        font-style: italic;
    }
    h3{
        font-size: 20px;
    }
}
@media (max-width: 950px) {
    .slider-frame{
        margin-left: 150px;
    }
    p1{
        margin-left: 150px;
    }
    .intro{
        width: 210px;
        margin-top: -270px;
        margin-left: -85px;
    }
    .Profile-Banner{
        width: 210px;
        margin-left: -85px;
    }
    h2{
        font-size: 28px;
    }
    p2{
        font-size: 8px;
        font-style: italic;
    }
    h3{
        font-size: 18px;
    }
}
@media (max-width: 890px) {
    .slider-frame{
        margin-left: 100px;
    }
    p1{
        margin-left: 100px;
    }
    .intro{
        width: 170px;
        margin-top: -285px;
        margin-left: -80px;
        padding-right: 0px;
    }
    .Profile-Banner{
        width: 170px;
        margin-left: -80px;
    }
    h2{
        font-size: 25px;
        overflow: hidden;

    }
    p2{
        font-size: 5px;
        font-style: italic;
    }
    h3{
        font-size: 15px;
    }
}
@media (max-width: 830px) {
    .slider-frame{
        margin-left: 50px;
    }
    p1{
        margin-left: 50px;
    }
    .intro{
        width: 120px;
        margin-top: -305px;
        margin-left: -75px;
        padding-right: 0px;
    }
    .Profile-Banner{
        width: 120px;
        margin-left: -75px;
    }
    h2{
        font-size: 12px;
        overflow: hidden;

    }
    p2{
        font-size: 3px;
        font-style: italic;
    }
    h3{
        font-size: 9px;
    }
}
@media (max-width: 770px) {
    .slider-frame{
        margin-left: 0px;
    }
    p1{
        margin-left: 0px;
    }
    .intro{
        width: 70px;
        margin-top: -325px;
        margin-left: -73px;
        padding-right: 0px;
    }
    .Profile-Banner{
        width: 70px;
        margin-left: -73px;
    }
    h2{
        font-size: 6px;
        overflow: hidden;

    }
    p2{
        font-size: 1px;
        font-style: italic;
    }
    h3{
        font-size: 3px;
    }
}
@media (max-width: 720px) {
    .slider-frame{
        margin-left: -50px;
    }
    p1{
        margin-left: -50px;
    }
    .intro{
        width: 0px;
        border-style: none;
        background-color: transparent;

    }
    .Profile-Banner{
        width: 0px;
        border-style: none;
        background-color: transparent;
    }
    h2{
        font-size: 0px;
    }
    p2{
        font-size: 0px;
    }
    h3{
        font-size: 0px;
    }
}
@media (max-width: 598px) {
    .slider-frame{
        margin-top: 200px;
    }
}
@media (orientation: landscape){
@media (max-height: 560px){
    .intro{
        background-color: transparent;
        color: #ffffff;
        border-style: none;
    }
    h2{
        font-size: 0px;
    }
    p2{
        font-size: 0px;
        font-style: italic;
    }
    h3{
        font-size: 0px;
    }
    p1{
        font-size: 0px;
        background-color: transparent;
        color: #ffffff;
        border-style: none;
    }
    .Profile-Banner{
        width: 0px;
        background-color: transparent;
        color: #ffffff;
        border-style: none;  
    }
    .Navigation-Manual{
        margin-top: 0pxpx;
        margin-left: 0px;
        width: 0px;
        overflow: hidden;
    }
    .Navigation-auto{
        margin-top: 0px;
        margin-left: 0px;
        width: 0px;
        overflow: hidden;
    }
    .Auto-btn-img{
        img {
        width: 0px;
        height: 0px;
        }
    }
    .Auto-btn-img-Dark{
        img {
        width: 0px;
        height: 0px;
            }
    }
    .Manual-btn-img{
        img {
        width: 0px;
        height: 0px;
            }
}
    .slider-frame{
        margin-left: 100px;
        margin-top: 150px;
    }
}
@media (max-height: 450px){
    .slider-frame{
        margin-top: 50px;
    }
}
@media (max-height: 300px){
        .slider-frame{
            margin-top: -50px;
        }
    }
@media (max-height: 200px){
        .slider-frame{
            margin-top: -150px;
        }
    }
}
@media (orientation: portrait) {
    .slider-frame{
        width: 854px;
        height: 480px;
        margin-left: -25px;
        margin-top: 150px;
    }
    .slider-images{
        .slider-image img{
            width: 854px;
            height: 480px;
        }
    }
    .slider-btn{
        height: 480px;
        width: 100px;
        margin-bottom: 30px;
        margin-left: 754px;
    }
    .Navigation-auto{
        width: 854px;
        margin-top: 500px;
        height: 200px;
        .Auto-btn-img{
            column-gap: 16px;
            row-gap: 8px;
            img {
                width: 70px;
                height: 70px;
                    }
        }
        .Auto-btn-img-Dark{
            column-gap: 16px;
            row-gap: 8px;
            img {
                width: 70px;
                height: 70px;
                    }
        }
    }
    .Navigation-Manual{
        width: 854px;
        margin-top: -18px;
        height: 200px;
        .Manual-btn-img{
            column-gap: 16px;
            row-gap: 8px;
            img {
            width: 70px;
            height: 70px;
                }
        }
    }
    p1{
        margin-top: 220px;
        margin-left: -25px;
        width: 854px;
        height: 180px
    }
    .intro{
        position: absolute;
        position: fixed;
        width: 800px;
        text-align: left;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #171747;
        color: #ffffff;
        border-style: solid;
        border-width: 6px;
        border-color: #ff9b00;
        border-radius: 10px;
        padding: 10px;
        align-self: center;
        margin-top: 800px;
        margin-left: -25px;
        width: 854px;
        height: 650px;

    }
    h2{
        font-size: 60px;
    }
    p2{
        font-size: 40px;
        font-style: italic;
    }
    h3{
        font-size: 50px;
    }
    .Profile-Banner{
        width: 854px;
        position: absolute;
        position: fixed;
        margin-top: 420px;
        margin-left: -25px;
        border-style: solid;
        border-width: 6px;
        border-color: #ff9b00;
        border-radius: 10px;
        border-image-repeat: no-repeat;
        z-index: 1;
    }
}