*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "arial", sans-serif;
}

a:link{
    text-decoration: none!important;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    height: 100svh;
    display: flex;
    overflow: scroll;
}
body::-webkit-scrollbar {
    height: 5svh;
    width: 3svw;
    background: transparent;
}
body::-webkit-scrollbar-thumb{
    cursor: pointer;
    background: linear-gradient(#ff0000, #0000ff);
    opacity: 100%;
    border-radius: 50svb;
    border: solid #fff 1svb;
    margin-top: 1svh;
    margin-left: 1svw;
    min-width: 2svw;
    min-height: 2svh;
}
body::-webkit-scrollbar-track{
    background: linear-gradient(#804000, #800040);
    border: solid 1svb;
    border-color: #000;
}

/*Header Start*/
.header{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 15svh;
    background: #171747;
}
.tab{
    display: flex;
    align-items: center;
    text-align: center;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 15svh;
}
.tab::-webkit-scrollbar {
    height: 4svh;
}
.tab::-webkit-scrollbar-thumb{
    cursor: pointer;
    background: linear-gradient(#ff0000, #0000ff);
    opacity: 100%;
    border-radius: 50svb;
    margin-inline: 10svw;
    border: solid 0.8svb;
    border-color: #fff;
    min-width: 1svw;
}
.tab::-webkit-scrollbar-track{
    background: linear-gradient(#804000, #800040);
    border-block: solid 1svb;
    border-color: #000;
}
.tab::-webkit-scrollbar-thumb:hover{
    cursor: pointer;
}
.website{
    font-style: bold;
    border-inline-start: solid 0.5svw #ff9b00;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 4svh;
    color: #fff;
    justify-content: center;
    align-self: center;
}
.website:hover{
    cursor: pointer;
    opacity: 100%;
    background-color: #ffffff;
    transition: 0.3s;
    color: #000000;
}
#Home-Tab{
    background-color: #fff;
    color: #000;
    height: 100%;
    width: 100%;
}
#Live-Tab{
    color: #f00;
    height: 100%;
    width: 100%;
}
#Live-Tab:hover{
    opacity: 100%;
    color: #000000;
    transition: 0.3s;
}
/*Header End*/

/*Sidebar Start*/
.Sidebar{
    position: fixed;
    width: 20svw;
    left: -20svw;
    Height: 100%;
    padding-block: 0svh;
    background: #171747;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 100000;
    border: #ff9b00;
    border-right-width: 1svw;
    border-style: solid;
    transition: all .5s ease;
}
.profile-picture{
    height: 100%;
    width: 100%;
}
.Sidebar::-webkit-scrollbar {
    width: 2.4svw;
}
.Sidebar::-webkit-scrollbar-thumb{
    cursor: pointer;
    background: linear-gradient(#ff0000, #0000ff);
    opacity: 100%;
    border-radius: 50svb;
    border: solid 1svb;
    border-color: #fff;
    min-height: 1svh;
}
.Sidebar::-webkit-scrollbar-track{
    background: linear-gradient(#804000, #800040);
    border-inline: solid 1svb;
    border-color: #000;
}
.Sidebar::-webkit-scrollbar-thumb:hover{
    cursor: pointer;
    transition: 0.3s;
    opacity: 100%;
}
.side-website{
    width: 100%;
    height: 100%;
    font-size: 1.5svw;
    text-align: center;
    position: relative;
    padding: 1svw 0 1svw;
    color: #ffffff;
    border-block-start: solid 0.5vh #ff9b00;
    
}
.side-website:hover{
    opacity: 100%;
    color: #000000;
    transition: 0.3s;
}
#Side-Live-Tab{
    color: #f00;
}
#Side-Live-Tab:hover{
    opacity: 100%;
    color: #000000;
    transition: 0.3s;
}
#side-website18{
    justify-content: center;
    align-self: center;
    height: 100%;
    width: 100%;
    background: #fff;
    color: #000;
}
#Side-Home-Tab{
    justify-content: center;
    align-self: center;
    height: 100%;
    width: 100%;
    background: #fff;
    color: #000;
}
#Sidebar-Icon{
    aspect-ratio: 1/1;
    width: 100%;
    justify-content: center;
    align-self: center;
    padding-inline: 1svw;
    padding-block: 1svh;
    img{
        width: 100%;
        height: 100%;
    }
}
p0{
    display: flex;
    justify-content: center;
    font-size: 3svw;
    text-align: center;
    font-weight: bold;
    color:#ff9b00;
}
#Sidebar-Check{
    display: none;
}
label #Sidebar-Open,label #Sidebar-Close{
    position: fixed;
    cursor: pointer;
}
label #Sidebar-Close{
    width: 5svw;
    height: 50svh;
    left: 0;
    color: #ff0000;
    font-size: 2.5vb;
    font-weight: bold;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin-top: 20svh;
    background-color: #171747;
    z-index: 100000000000000000000000000000000000000000000000000000000000000000000000000;
    transition: all .5s ease;
    border-top-right-radius: 1svb;
    border-bottom-right-radius: 1svb;
    border-style: solid;
    border-width: 0.5svb;
    border-color: #ff9b00;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}
#Sidebar-Check:checked ~ .Sidebar{
    left: 0svw;
}
#Sidebar-Check:checked ~ label #Sidebar-Close{
    left: 20svw;
    transition: all .5s ease;
}
/*Sidebar End*/

/*grid Starts*/
.background{
    padding-left: 5svw;
    padding-right: 1svw;
    padding-top: 16svh;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 40svw 65svw;
    grid-template-rows: 30svh 50svh 20svh;
}
.background-image{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    justify-content: center;
    align-items: center;
    img{
        width: 100%;
        height: 100%;
    }
}
/*Texts Starts*/
#Grid2{
    grid-column: 2/3;
    grid-row: 1/4;
    max-width: 100%;
}
.all-links{
    position: absolute;
    text-align: center;
    margin-top: 49svw;
    width: 64svw;
    font-size: 6svw;
    background-color: #171747;
    color: #ffffff;
    border-style: solid;
    border-width: 0.3svw;
    border-color: #ff9b00;
    border-radius: 1svb;
    padding: 1svw;
    align-self: center;
    overflow: hidden;
}
#Grid3{
    grid-column: 1/2;
    grid-row: 1/4;
}
.intro{
    position: absolute;
    align-self: center;
    text-align: left;
    width: 38svw;
    margin-inline: 1svw;
    margin-top: 16.5%;
    background-color: #171747;
    color: #ffffff;
    border-style: solid;
    border-width: 0.3svw;
    border-color: #ff9b00;
    border-radius: 1svb;
    padding: 2svb;
    align-self: center;
    overflow: hidden;
}
h2{
    font-size: 2.5svw;
    overflow: hidden;
}
p2{
    font-size: 1.5svw;
    font-style: italic;
    overflow: hidden;
}
h3{
    font-size: 2svw;
    overflow: hidden;
}
#Grid4{
    grid-column: 1/2;
    grid-row: 1/2;
}
.Profile-Banner{
    width: 40svw;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    padding-inline: 1svw;
    img{
        width: 100%;
        height: 100%;
        border-style: solid;
        border-width: 0.3svw;
        border-color: #ff9b00;
        border-radius: 1svb;
    }
}
/*Slideshow Frame Start*/
#Grid1{
    grid-column: 2/3;
    grid-row: 1/3;
}
.slider-grid{
    position: absolute;
    width: 64svw;
    height: 100%;
    overflow: hidden;
    display: grid;
    border-radius: 1svb;
}
.slider-frame{
    position: absolute;
    width: 100%;
    height: 36svw;
    aspect-ratio: 16/9;
    border-radius: 1svb;
    overflow-x: hidden;
    overflow-y: visible;
    display: grid;
}
/*Slideshow Frame End*/

/*Slideshow Images Start*/
.slider-images{
    border-radius: 1svb;
    grid-area: 1/1;
    width: 500%;
    height: 100%;
    display: flex;
}
.slider-grid input{
    display: none;
}
.slider-image{
    aspect-ratio: 16/9;
    width: 20%;
    transition: 1s;
    border-radius: 1svb;
}
.slider-image img{
    aspect-ratio: 16/9;
    width: 100%;
    height: 100%;
}
/*Slideshow Images End*/

/*Slider Button Start*/
.slider-btn{
    grid-area: 1/1;
    border: none;
    width: 64svw;
    height: 0%;
    text-align: center;
    font-size: 10svw;
    position: absolute;
    outline: none;
    cursor: pointer;
    z-index: 500;
    transition: 0.5s;
    aspect-ratio: 16/9;
    overflow: visible;
}
#prev{
    background: #000;
    color: #ffffff;
    width: 10svw;
    height: 36svw;
    opacity: 20%;
    margin: 0%;
    left: 0%;
    border-top-left-radius: 1svb;
    border-bottom-left-radius: 1svb;
}
#prev:hover{
    opacity: 50%;
}
#next{
    background: #000;
    color: #ffffff;
    width: 10svw;
    height: 36svw;
    opacity: 20%;
    margin: 0%;
    right: 0%;
    border-top-right-radius: 1svb;
    border-bottom-right-radius: 1svb;
}
#next:hover{
    opacity: 50%;
}
/*Slider Button End*/

/*Auto navigation Start*/
.Navigation-auto{
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 57%;
    display: flex;
    display: grid;
    z-index: 99;
}
.Auto-btn-img{
    cursor: pointer;
    width: 100%;
    height: 5svh;
    display: grid;
    grid-template-columns: repeat(10, 5.7vw);
    grid-template-rows: repeat(2, 5.7vw);
    flex-wrap: wrap;
    column-gap: 0.75svw;
    row-gap: 0.75svw;
    grid-area: 1 / 1;
    img {
    width: 5.7svw;
    height: 5,7svw;
    }
}
.Auto-btn-img-Dark{
    cursor: pointer;
    width: 100%;
    height: 5svh;
    display: grid;
    grid-template-columns: repeat(10, 5.7vw);
    grid-template-rows: repeat(2, 5.7vw);
    column-gap: 0.75svw;
    row-gap: 0.75svw;
    grid-area: 1 / 1;
    z-index: 10;
    img {
        width: 5.7svw;
        height: 5.7svw;
    }
}
div{
    #radio1:checked ~ .Navigation-auto .auto-btn1{
        #Animation-Btn-Dark{
            opacity: 0%;
            transition: 0.5s;
        }
    }
    #radio2:checked ~ .Navigation-auto .auto-btn2{
        #Music-Btn-Dark{
            opacity: 0%;
            transition: 0.5s;
        }
    }
    #radio3:checked ~ .Navigation-auto .auto-btn3{
        #Live-btn-Dark{
            opacity: 0%;
            transition: 0.5s;
        }
    }
    #radio4:checked ~ .Navigation-auto .auto-btn4{
        #Clips-btn-Dark{
            opacity: 0%;
            transition: 0.5s;
        }
    }
    #radio5:checked ~ .Navigation-auto .auto-btn5{
        #WEBTOON-btn-Dark{
            opacity: 0%;
            transition: 0.5s;
        }
    }
    #radio6:checked ~ .Navigation-auto .auto-btn6{
        #Twitch-btn-Dark{
            opacity: 0%;
            transition: 0.5s;
        }
    }
    #radio7:checked ~ .Navigation-auto .auto-btn7{
        #Twitter-btn-Dark{
            opacity: 0%;
            transition: 0.5s;
        }
    }
    #radio8:checked ~ .Navigation-auto .auto-btn8{
        #Discord-btn-Dark{
            opacity: 0%;
            transition: 0.5s;
        }
    }
    #radio9:checked ~ .Navigation-auto .auto-btn9{
        #Patreon-btn-Dark{
            opacity: 0%;
            transition: 0.5s;
        }
    }
    #radio10:checked ~ .Navigation-auto .auto-btn10{
        #Ko-fi-btn-Dark{
            opacity: 0%;
            transition: 0.5s;
        }
    }
    #radio11:checked ~ .Navigation-auto .auto-btn11{
        #TikTok-btn-Dark{
            opacity: 0%;
            transition: 0.5s;
        }
    }
    #radio12:checked ~ .Navigation-auto .auto-btn12{
        #Instagram-btn-Dark{
            opacity: 0%;
            transition: 0.5s;
        }
    }
    #radio13:checked ~ .Navigation-auto .auto-btn13{
        #Reddit-btn-Dark{
            opacity: 0%;
            transition: 0.5s;
        }
    }
    #radio14:checked ~ .Navigation-auto .auto-btn14{
        #Pinterest-btn-Dark{
            opacity: 0%;
            transition: 0.5s;
        }
    }
    #radio15:checked ~ .Navigation-auto .auto-btn15{
        #Newgrounds-btn-Dark{
            opacity: 0%;
            transition: 0.5s;
        }
    }
    #radio16:checked ~ .Navigation-auto .auto-btn16{
        #Cara-btn-Dark{
            opacity: 0%;
            transition: 0.5s;
        }
    }
    #radio17:checked ~ .Navigation-auto .auto-btn17{
        #Facebook-btn-Dark{
            opacity: 0%;
            transition: 0.5s;
        }
   }
}
/*Auto navigation End*/

/*manual navigation Start*/
.Navigation-Manual{
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 57%;
    display: flex;
    z-index: 100;
    overflow: hidden;
}
.Manual-btn-img{
    cursor: pointer;
    width: 100%;
    height: 5svh;
    display: grid;
    grid-template-columns: repeat(10, 5.7vw);
    grid-template-rows: repeat(2, 5.7vw);
    column-gap: 0.75svw;
    row-gap: 0.75svw;
    grid-area: 1 / 1;
    img {
    cursor: pointer;
    width: 5.7svw;
    height: 5.7svw;
    }
}
div{
    .Manual-btn1{
        opacity: 0%;
    }
    .Manual-btn2{
        opacity: 0% ;
    }
    .Manual-btn3{
        opacity: 0% ;
    }
    .Manual-btn4{
        opacity: 0% ;
    }
    .Manual-btn5{
        opacity: 0% ;
    }
    .Manual-btn6{
        opacity: 0% ;
    }
    .Manual-btn7{
        opacity: 0% ;
    }
    .Manual-btn8{
        opacity: 0% ;
    }
    .Manual-btn9{
        opacity: 0% ;
    }
    .Manual-btn10{
        opacity: 0% ;
    }
    .Manual-btn11{
        opacity: 0% ;
    }
    .Manual-btn12{
        opacity: 0% ;
    }
    .Manual-btn13{
        opacity: 0% ;
    }
    .Manual-btn14{
        opacity: 0% ;
    }
    .Manual-btn15{
        opacity: 0% ;
    }
    .Manual-btn16{
        opacity: 0% ;
    }
    .Manual-btn17{
        opacity: 0% ;
    }
}
div{
    .Manual-btn1:hover{
        opacity: 100%;
        transition: 0.5s;
    }
    .Manual-btn2:hover{
        opacity: 100% ;
        transition: 0.5s;
    }
    .Manual-btn3:hover{
        opacity: 100% ;
        transition: 0.5s;
    }
    .Manual-btn4:hover{
        opacity: 100% ;
        transition: 0.5s;
    }
    .Manual-btn5:hover{
        opacity: 100% ;
        transition: 0.5s;
    }
    .Manual-btn6:hover{
        opacity: 100% ;
        transition: 0.5s;
    }
    .Manual-btn7:hover{
        opacity: 100% ;
        transition: 0.5s;
    }
    .Manual-btn8:hover{
        opacity: 100% ;
        transition: 0.5s;
    }
    .Manual-btn9:hover{
        opacity: 100% ;
        transition: 0.5s;
    }
    .Manual-btn10:hover{
        opacity: 100% ;
        transition: 0.5s;
    }
    .Manual-btn11:hover{
        opacity: 100% ;
        transition: 0.5s;
    }
    .Manual-btn12:hover{
        opacity: 100% ;
        transition: 0.5s;
    }
    .Manual-btn13:hover{
        opacity: 100% ;
        transition: 0.5s;
    }
    .Manual-btn14:hover{
        opacity: 100% ;
        transition: 0.5s;
    }
    .Manual-btn15:hover{
        opacity: 100% ;
        transition: 0.5s;
    }
    .Manual-btn16:hover{
        opacity: 100% ;
        transition: 0.5s;
    }
    .Manual-btn17:hover{
        opacity: 100% ;
        transition: 0.5s;
    }
}
div{
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
#radio5:checked ~ .first{
    margin-left: -80%;
}
#radio6:checked ~ .first{
    margin-left: -100%;
}
#radio7:checked ~ .first{
    margin-left: -120%;
}
#radio8:checked ~ .first{
    margin-left: -140%;
}
#radio9:checked ~ .first{
    margin-left: -160%;
}
#radio10:checked ~ .first{
    margin-left: -180%;
}
#radio11:checked ~ .first{
    margin-left: -200%;
}
#radio12:checked ~ .first{
    margin-left: -220%;
}
#radio13:checked ~ .first{
    margin-left: -240%;
}
#radio14:checked ~ .first{
    margin-left: -260%;
}
#radio15:checked ~ .first{
    margin-left: -280%;
}
#radio16:checked ~ .first{
    margin-left: -300%;
}
#radio17:checked ~ .first{
    margin-left: -320%;
}

}
/*manual navigation End*/

/*Notification Box Start*/
.box a {
    padding: 15svb;
    background-color: #fff;
    border-radius: 2svb;
    text-decoration: none;
    z-index: 10000000000000000000000000000;
}
.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.9);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000000000000000000000000000;
}
.content {
    position: absolute;
    background: #171747;
    border-color: #ff9b00;
    border-width: 2svb;
    border-style: solid;
    width: 80%;
    height: 80%;
    border-radius: 2svb;
    z-index: 10000000000000000000000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
}
.content::-webkit-scrollbar {
    width: 3svw;
    background: transparent;
}
.content::-webkit-scrollbar-thumb{
    cursor: pointer;
    background: linear-gradient(#ff0000, #0000ff);
    opacity: 100%;
    border-radius: 50svb;
    border: solid #fff 1svb;
    margin-top: 1svh;
    margin-left: 1svw;
    min-width: 2svw;
    min-height: 2svh;
}
.content::-webkit-scrollbar-track{
    background: linear-gradient(#804000, #800040);
    border: solid 1svb;
    border-color: #000;
}
.modal:target {
    display: flex;
}
#popuptitle{
    text-align: center;
    justify-content: center;
    width: 100%;
    padding-block: 1svh;
}
h4{
    color: #ff0000;
    font-size: 7svw;
    white-space: nowrap;
}
#popuptext{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-block: solid #ff9b00 2svb;
}
p{
    text-align: center;
    color: #ffffff;
    font-size: 6svw;
    padding: 1svb;
}
#popupclick{
    width: 100%;
    align-items: center;
    align-self: center;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    padding: 1svh;
}
a.popupclose{
    align-content: center;
    align-self: center;
    cursor: pointer;
    width: 90%;
    background: #ffffff;
    border-color: #ff9b00;
    border-width: 2svb;
    border-style: solid;
    border-radius: 2svb;
    text-align: center;
    overflow: hidden;
    font-size: 8svw;
    font-weight: bold;
    color: #000;
    white-space: nowrap;
}
button.popupclose{
    display: none;
}
/*Notification Box End*/

/*grid Ends*/

/*Portrait Start*/
@media (orientation: portrait){
    /*body Start*/
    body::-webkit-scrollbar {
        height: 0svh;
        width: 4svh;
    }
    /*body End*/

    /*header Start*/
    .header{
        height: 7svh;
    }
    .tab{
        display: flex;
        align-items: center;
        text-align: center;
        overflow-x: scroll;
        overflow-y: hidden;
        height: 7svh;
    }
    .tab::-webkit-scrollbar {
        height: 3svh;
    }
    .tab::-webkit-scrollbar-thumb{
        border: solid 0.5svb;
    }
    .tab::-webkit-scrollbar-track{
        border-block: solid 0.5svb;
    }
    .website{
        font-size: 1.5svh;
    }
    /*header End*/

    /*Sidebar Start*/
    .Sidebar{
        width: 50svw;
        left: -50svw;
    }
    .Sidebar::-webkit-scrollbar {
    width: 3svw;
    }
    .Sidebar::-webkit-scrollbar-thumb{
    border: solid 0.5svb;
    }
    .Sidebar::-webkit-scrollbar-track{
    background: linear-gradient(#804000, #800040);
    border-inline: solid 0.5svb;
    border-color: #000;
    }
    .side-website{
    font-size: 4svw;
    }
    p0{
    font-size: 6svw;
    }
    label #Sidebar-Close{
    width: 8svw;
    height: 40svh;
    font-size: 5svb;
    }
    #Sidebar-Check:checked ~ label #Sidebar-Close{
        left: 50svw;
        width: 20svw;
        font-size: 8vb;
    }
    /*Sidebar End*/

    /*background Start*/
    .background{
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding-left: 10svw;
        padding-right: 1svw;
        padding-top: 8svh;
    }
    .slider-grid{
        width: 80svw;
    }
    .slider-frame{
        height: 45svw;
    }
    .slider-btn{
        width: 80svw;
    }
    .Auto-btn-img{
        height: 7svh;
        grid-template-columns: repeat(10, 7vw);
        grid-template-rows: repeat(2, 7vw);
        column-gap: 1svw;
        row-gap: 1svw;
        img {
        width: 7svw;
        height: 7svw;
        }
    }
    .Auto-btn-img-Dark{
        height: 7svh;
        grid-template-columns: repeat(10, 7vw);
        grid-template-rows: repeat(2, 7vw);
        column-gap: 1svw;
        row-gap: 1svw;
        img {
            width: 7svw;
            height: 7svw;
        }
    }
    .Manual-btn-img{
        height: 7svh;
        grid-template-columns: repeat(10, 7vw);
        grid-template-rows: repeat(2, 7vw);
        column-gap: 1svw;
        row-gap: 1svw;
        img {
        width: 7svw;
        height: 7svw;
        }
    }
    .all-links{
        margin-top: 62svw;
        width: 80svw;
        font-size: 7svw;
    }
    .Profile-Banner{
        margin-top: 82svw;
        width: 80svw;
        padding-inline: 0svw;
    }
    .intro{
        margin-top: 115svw;
        width: 80svw;
        margin-inline: 0svw;
    }
    h2{
        font-size: 10svw;
        overflow: hidden;
    }
    p2{
        font-size: 6svw;
        font-style: italic;
        overflow: hidden;
    }
    h3{
        font-size: 8svw;
        overflow: hidden;
    }
    /*background End*/

    /*Notification Box Start*/
    .content {
        border-width: 1svb;
    }
    #popuptitle{
        padding-block: 0svh;
        height: 18svh;
        border-bottom: solid #ff9b00 1svb;
    }
    h4{
        font-size: 7svh;
        white-space: wrap;
    }
    #popuptext{
        border-block: transparent;
    }
    p{
        font-size: 10svw;
    }
    #popupclick{
        height: 15svh;
        padding: 0svh;
        border-top: solid #ff9b00 1svb;
    }
    a.popupclose{
        height: 10svh;
        border-width: 1svb;
    }
    /*Notification Box End*/
}
/*Portrait End*/
